.login__link {
    text-decoration-line: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: white;
    cursor: pointer;
    margin-top: 6px;
}

.login__link:hover {
    opacity: .6;
    cursor: pointer;
  }