@import url(./_visible/tooltip_visible.css);
@import url(./__container/tooltip__container.css);
@import url(./__success/tooltip__success.css);
@import url(./__error/tooltip__error.css);
@import url(./__text/tooltip__text.css);
@import url(./__close-button/tooltip__close-button.css);

.tooltip {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}
