.login__input {
    background-color: #000;
    border: 0;
    border-bottom: 2px solid #FFFF;
    padding-bottom: 13px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFF;
    width: 100%;
    box-sizing: border-box;
  }

  .login__input:first-of-type { 
    margin-bottom: 30px;
  }
  .login__input::placeholder {
    color: #CCCC;
  }